# Fundamentals
/fundamentals-challenge/node_modules

# api-rest-nodejs
/api-rest-nodejs/node_modules
/api-rest-nodejs/db/app.db
/api-rest-nodejs/.env
/api-rest-nodejs/.env.test

# api-solid
/api-solid/node_modules
/api-solid/build